.one{
    color: blue;
    background-color: yellow;
    width:200px;
    height:200px;
}

.two{
    color: green;
    background-color: yellow;
    width:200px;
    height:200px;
}

#three{
    color: purple;
}